DEVICE_ID=rasp-planta01-portaria
SITE=planta01
PONTO=portaria

MQTT_HOST=192.168.0.10
MQTT_PORT=1883

VERSAO_MODELO=epi-yolo-v1
MODELO=modelos/epi.onnx
CONFIANCA_MIN=0.45
IOU_NMS=0.45
MIN_CONFIRMACOES=3
MARGEM_PRAZO_S=2.0

EVIDENCIA_ATIVA=0
API_BASE=http://192.168.0.10:8000
API_TOKEN=

TELEMETRIA_S=60
LOG_NIVEL=INFO
